* {
  margin: 0;
  padding: 0;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.head__left {
  display: flex;
  align-items: center;
}

.head-logo {
  height: auto;
  width: 200px;


}

.head__right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

.head__right ul {
  font-size: 30px;
}